*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
}
body{
    position: relative;
    top: 15vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#counter{
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 1rem;
    
}

#principal-page{
    display: block;
}
/*style for questions*/
#quiz,#quiz2,#quiz3,#quiz4,#quiz5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}
#options,#options2,#options3,#options4,#options5{
    display: flex;
    flex-direction: column;
}
/*buttons style*/
button{
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    opacity: 1;
    margin: .5rem;
}

button:hover{
    opacity: 0.7;
    cursor: pointer;
}

/*styling correct and wrong box*/
#question-result{
    display: none;
   text-align: start;
   font-style: italic;
   color:rgb(141, 139, 135);
   border-top: solid 2px rgb(141, 139, 135);

}

#gameover{
    display: none;
}
#highscores{
    display: none;
}